<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" >
        <div class="container h-25">
            <div class="navbar-header">
                @Html.ActionLink("Sabras", "Index", "Home", new { area = "" }, new { @class = "sabras-logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Predicted Smoothie", "Index", "PredictedSmoothie")</li>
                    @if (Session["User"] != null && (bool)Session["User"] == true)
                    {
                        <li>@Html.ActionLink("Cart", "Create", "OrderProduct")</li>
                    }
                    else if (Session["Admin"] != null && (bool)Session["Admin"] == true)
                    {
                        <li>@Html.ActionLink("Products", "Index", "Product")</li>
                        <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                        <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (Session["Currency"] == null || (bool)Session["Currency"] != true)
                    {
                        <li><img src="~/Images/USA-Flag.png" style="width:30px;height:20px;margin-top:15px"/></li>
                    }
                    else
                    {
                        <li><img src="~/Images/ISRAEL-FLAG.png" style="width:30px;height:20px;margin-top:15px"/></li>
                    }
                    @if (Session["User"] != null && (bool)Session["User"] == true)
                    {
                        <li>Welcome, @Session["UserFullName"]</li>
                        <li class="logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                    else if (Session["Admin"] != null && (bool)Session["Admin"] == true)
                    {
                        <li>Welcome, Admin</li>
                        <li class="logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Index", "Register")</li>
                        <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Made with &#10084 by Jenkins Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
