@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
    <form method="post" action="Home/Search">
        <input type="text" size="50" placeholder="Search for anything..." name="message">
        <input type="submit" class="fa fa-search" />
    </form>
</div>
<div class="container home">
    <div class="params">
        <h4>Price</h4>
        @if(ViewBag.productsByPrice != null)
        {
        <div class="options">
            <div class="option">
                <a href="#">
                    <label><span class="first-label">Under USD @ViewBag.productsByPrice[1][0].Price</span><span class="grouped">(@ViewBag.productsByPrice[0].Count)</span></label>
                </a>
            </div>
            <div class="option">
                <a class="cbx prRng" href="#">
                    <label><span class="first-label">USD @ViewBag.productsByPrice[0][@ViewBag.productsByPrice[0].Count - 1].Price - @ViewBag.productsByPrice[2][0].Price</span><span class="grouped">(@ViewBag.productsByPrice[1].Count)</span></label>
                </a>
            </div>
            <div class="option">
                <a class="cbx prRng" href="#">
                    <label><span class="first-label">Over ILS @ViewBag.productsByPrice[2][0].Price</span><span class="grouped">(@ViewBag.productsByPrice[2].Count)</span></label>
                </a>
            </div>
        </div>
        }
        
        <form action="Home/SendParams" method="post">
            <div class="price-paramater">
                <label>USD</label>
                <input class="price" name="minPrice" pattern="\d*" type="text" size="3" maxlength="13" value="">
                <label> to USD</label>
                <input class="price" pattern="\d*" name="maxPrice" type="text" size="3" maxlength="13" value="">
            </div>
            <h4>Calories</h4>
            @if(ViewBag.productsByCalories != null)
            {
            <div class="options">
                <div class="option">
                    <a href="#">
                        <label><span class="first-label">Under Cal @ViewBag.productsByCalories[1][0].Calories</span><span class="grouped">(@ViewBag.productsByCalories[0].Count)</span></label>
                    </a>
                </div>
                <div class="option">
                    <a class="cbx prRng" href="#">
                        <label>
                            <span class="first-label">Cal @ViewBag.productsByCalories[0][@ViewBag.productsByCalories[0].Count - 1].Calories - Cal @ViewBag.productsByCalories[2][0].Calories</span>
                            <span class="grouped">(@ViewBag.productsByCalories[1].Count)</span>
                        </label>
                    </a>
                </div>
                <div class="option">
                    <a class="cbx prRng" href="#">
                        <label><span class="first-label">Over Cal @ViewBag.productsByCalories[2][0].Calories</span><span class="grouped">(@ViewBag.productsByCalories[2].Count)</span></label>
                    </a>
                </div>
            </div>
            }

            <div class="price-paramater">
                <label>Cal</label>
                <input class="price" name="minCal" pattern="\d*" type="text" size="3" maxlength="13" value="">
                <label> to Cal</label>
                <input class="price" name="maxCal" pattern="\d*" type="text" size="3" maxlength="13" value="">
            </div>
            <div class="features">
                <h4>Features</h4>
                <label>Is Vegan (@if (ViewBag.productsByVegan.ContainsKey(true)) {<b>@ViewBag.productsByVegan[true].Count</b>} else { <b>0</b>})</label>
                <input name="isVegan" aria-hidden="true" tabindex="-1" type="checkbox" class="vegan">
            </div>

            <input type="submit" />
        </form>
    </div>

    <div class="items">
        @foreach (var product in ViewBag.Products)
        {
            <pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="@product.Description">
            <div class="title">
            <h4>@product.Name</h4>
                    @if (product.IsVegan)
                    {
            <a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
                    }

                </div>
            @if (Session["User"] != null && (bool)Session["User"])
            {
                <span>
                    @Html.ActionLink("Add to cart", "AddToCart", "Home", new { ProductId = product.Id }, new { @class = "btn btn-default btn-add-to-cart btn-xs" })
                </span>
            }
            <img src="@product.ImagePath" />
                <div class="firstLine">
                            <h4>@product.Price$</h4>
                            <h4>@product.Calories Calories</h4>
                </div>
            </pre>
        }
    </div>
</div>
